{% extends 'base.html' %}
{% load quiz_extras %}

{% block title %}Home{% endblock %}


{% block content %}
  <div class="list-group">

    <div class="list-group-item active">
      <h4 class="list-group-item-heading">Actions</h4>
    </div>

    <a href="{% url 'quiz:register-school' %}" class="list-group-item">
      <h4 class="list-group-item-heading">Register School</h4>
    </a>

    <a href="{% url 'quiz:register-teacher' %}" class="list-group-item">
      <h4 class="list-group-item-heading">Register Teacher</h4>
    </a>

    <a href="{% url 'quiz:new-quiz' %}" class="list-group-item">
      <h4 class="list-group-item-heading">Add Quiz</h4>
    </a>
  </div>
{% endblock %}