{% extends 'base.html' %}
{% load quiz_extras %}

{% block title %}Home{% endblock %}


{% block content %}
  <div class="row">

    <div class="col-md-8 col-md-offset-2">

      {% if request.user.student.get_active_quizzes.count > 0 %}

        <div class="list-group">

          <div class="list-group-item active">
            <h4 class="list-group-item-heading">Active Quizzes</h4>
          </div>

          {% for quiz in request.user.student.get_active_quizzes %}
            <a href="{% url 'quiz:quiz-question' quiz_id=quiz.id question_num=1 %}" class="list-group-item">
              <h4 class="list-group-item-heading">{{ quiz.name }}</h4>
              <p class="list-group-item-text">{{ quiz.quiz_commence_date | date:'d/m/Y g:i A' }}</p>
            </a>
          {% endfor %}

        </div>

      {% endif %}

    </div>

  </div>


  <div class="row">

    <div class="col-md-8 col-md-offset-2">

      {% if request.user.student.get_attempted_quizzes.count > 0 %}

        <div class="list-group">

          <div class="list-group-item active">
            <h4 class="list-group-item-heading">Attempted Quizzes</h4>
          </div>

          {% for quiz in request.user.student.get_attempted_quizzes %}
            <a href="{% url 'quiz:quiz-result' quiz_id=quiz.id student_id=request.user.student.id %}" class="list-group-item">
              <h4 class="list-group-item-heading">{{ quiz.name }}</h4>
              <p class="list-group-item-text">
                Date : {{ quiz.quiz_commence_date | date:'d/m/Y g:i A' }}
                <br>
                Score : {{ request.user.student|get_score:quiz }}/{{ quiz.get_total_score }}
                <br>
                <small>Click to review answers</small>
              </p>
            </a>
          {% endfor %}

        </div>

      {% endif %}

    </div>

  </div>


  <div class="row">

    <div class="col-md-8 col-md-offset-2">

      {% if request.user.student.get_upcoming_quizzes.count > 0 %}

        <div class="list-group">

          <div class="list-group-item active">
            <h4 class="list-group-item-heading">Upcoming Quizzes</h4>
          </div>

          {% for quiz in request.user.student.get_upcoming_quizzes %}
            <div class="list-group-item">
              <h4 class="list-group-item-heading">{{ quiz.name }}</h4>
              <p class="list-group-item-text">{{ quiz.quiz_commence_date | date:'d/m/Y g:i A' }}</p>
            </div>
          {% endfor %}

        </div>

      {% endif %}

    </div>

  </div>
{% endblock %}