{% extends 'base.html' %}
{% load quiz_extras %}

{% block title %}Quiz - {{ quiz.name }}{% endblock %}


{% block content %}
  <div class="jumbotron">
    <h1 class="text-center">Quiz: {{ quiz.name }}</h1>
    <p class="text-center">Score: {{ score }}/{{ quiz.get_total_score }}</p>
    <p class="text-center">Date: {{ quiz.quiz_commence_date | date:'d/m/Y g:i A' }}</p>
  </div>

  <div class="row">
    {% for answer in answer_sheet%}
      <div class="list-group">

        <div class="list-group-item active">
          <h4 class="list-group-item-heading">Question {{ answer.question.question_num }}: {{ answer.question.text }}</h4>
        </div>


        <div class="list-group-item" {% if answer.score == 0 %}style="background-color: pink" {% endif %}>
          <h4 class="list-group-item-heading">Submitted Answer: {{ answer.answer }}</h4>

          {% if answer.content_type.model == 'mcquestion' %}
            <p class="list-group-item-text">Score: {{ answer.score }}/{{ answer.question.score }}</p>
            {% if answer.score == 0 %}
              <p class="list-group-item-text"><strong>Correct answer: {{ answer.question.answer.text }}</strong></p>
            {% endif %}
          {% else %}
            {% if answer.score == None %}
              <p class="list-group-item-text">Answer not yet scored.</p>
            {% endif %}

            <p class="list-group-item-text">Score: <span id="score_text_{{ answer.id }}">{% if answer.score == None %}?{% else %}{{ answer.score }}{% endif %}</span>/{{ answer.question.score }}</p>

            {% if request.user.teacher %}
              <div class="list-group-item-text row">
                <div class="col-sm-4 col-sm-oddfet-3"><input type="number" id="score{{ answer.id }}" placeholder="Score"></div>
                <div class="col-sm-2" ><button class="btn btn-default" onclick="submit_score({{ answer.id }})">Submit</button></div>
              </div>
            {% endif %}
          {% endif %}
        </div>

      </div>

    {% endfor %}
  </div>
{% endblock %}

{% block script_postjquery %}
  <script>
    function submit_score(answer_id) {
      var score = $('#score' + answer_id).val();
      $.ajax({
          url: "{% url 'quiz:submit-score' %}",
          method: 'POST',

          data: {
            answer_id: answer_id,
            score: score,
          },
          success: function(data) {
            $('#score_text_' + answer_id).text(score);
            $('#score' + answer_id).val('');
          }
        }
      );
    }
  </script>
{% endblock %}