{% extends 'base.html' %}
{% load quiz_extras %}

{% block title %}Quiz - {{ quiz.name }}{% endblock %}


{% block content %}
  <div class="jumbotron">
    <h1>Question No. {{ question.question_num }}</h1>
    <p>{{ question.text }}</p>
  </div>

  <form action="{% url 'quiz:quiz-question' quiz_id=question.quiz.id question_num=question.question_num%}" method="post">
   {% csrf_token %}
    {% if is_mcq %}
      {% for choice in question.choices.all %}
        <div class="row">
          <div class="col-sm-1 col-sm-offset-2">
            <input name="answer" type="radio" value="{{ choice.id }}" id="answer{{ choice.id }}">
          </div>
          <div class="col-sm-8 col-sm-offset-1">
            <label for="answer{{ choice.id }}">{{ choice.text }}</label>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <div class="row">
        <textarea class="form-control" name="answer" placeholder="Type your answer here" rows="10"></textarea>
      </div>
    {% endif %}
    <div class="row text-right" style="margin-top: 50px;">
      <button type="submit" class="btn btn-default">Next</button>
    </div>
  </form>
{% endblock %}