{% extends 'base.html' %}
{% load quiz_extras %}

{% block title %}Home{% endblock %}


{% block content %}
  <div class="row">

    <div class="list-group">

          <div class="list-group-item active">
            <h4 class="list-group-item-heading">Students</h4>
          </div>

          {% for student in request.user.teacher.get_students %}
            <a href="{% url 'quiz:teacher-student' pk=student.id %}" class="list-group-item">
              {{ student.first_name }} {{ student.middle_name }} {{ student.last_name }}
            </a>
          {% endfor %}
    </div>

  </div>

  <div class="row">

    <div class="list-group">

          <div class="list-group-item active">
            <h4 class="list-group-item-heading">Quiz</h4>
          </div>

          {% for quiz in request.user.teacher.get_past_quizzes %}
            <a href="{% url 'quiz:teacher-quiz' quiz_id=quiz.id %}" class="list-group-item">
            <h4 class="list-group-item-heading">{{ quiz.name }}</h4>
            <p class="list-group-item-text">
              Date : {{ quiz.quiz_commence_date | date:'d/m/Y g:i A' }}
            </p>
          </a>
          {% endfor %}
    </div>

  </div>
{% endblock %}