{% extends 'base.html' %}
{% load quiz_extras %}

{% block title %}Home{% endblock %}


{% block content %}

  <div class="row">

    <div class="col-md-8 col-md-offset-2">

      <div class="list-group">

        <div class="list-group-item active">
          <h4 class="list-group-item-heading">{{ student.first_name }} {{ student.middle_name }}  {{ student.last_name }} : Attempted Quizzes</h4>
        </div>

        {% for quiz in student.get_attempted_quizzes %}
          <a href="{% url 'quiz:quiz-result' quiz_id=quiz.id student_id=student.id %}" class="list-group-item">
            <h4 class="list-group-item-heading">{{ quiz.name }}</h4>
            <p class="list-group-item-text">
              Date : {{ quiz.quiz_commence_date | date:'d/m/Y g:i A' }}
              <br>
              Score : {{ student|get_score:quiz }}/{{ quiz.get_total_score }}
              <br>
              <small>Click to review and score answers</small>
            </p>
          </a>
        {% endfor %}

      </div>

    </div>

  </div>

{% endblock %}