body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}

.navbar .nav.pull-right {
    float: right;
    margin-right: 98px; /*set margin this way in your custom styesheet*/
}
.notif-counter, .msg-counter{
    padding: 2px 5px 2px 5px;
    background-color: red;
    color:white;
    position: relative;
    left: -2px;
    bottom: -12px;
    border-radius: 6px;
    font-size: 11px;
}

.dropdown-menu>li>a .notif_seen .glyphicon, .dropdown-menu>li>a .msg_seen .glyphicon{
    color: #ccc!important;
    font-size: 11px;
    margin-right: 5px;
}

.notif-action{
    text-align: right;
    cursor: pointer;
}

.notif-action a{
    color: #ccc!important;
    font-size: 11px;
}

.notif-action a:hover{
    color: #666!important;
}

.dropdown-menu li.notif-seen-block a, .dropdown-menu li.msg-seen-block a{
    color: #888!important;
}
