{% load staticfiles %}
{% load quiz_extras %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Social Network{% endblock %}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{% static 'css/theme.css' %}">

  {% block head %}
  {% endblock head %}
</head>
<body role="document">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'quiz:home' %}">School Quiz</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse pull-right">
      <ul class="nav navbar-nav ">
        <li class="active"><a href="{% url 'quiz:home' %}"><span class="glyphicon glyphicon-home"></span></a></li>

        {% if user.is_anonymous %}
          <li><a href="{% url 'auth0:login' %}">Sign In</a></li>
          <li><a href="{% url 'auth0:register' %}">Sign Up</a></li>
        {% else %}
          {% with greeting='Hi Hola Hello Hey Hie'%}
            <li><a href="#">{{ greeting.split|random }}, {{ user.first_name }}</a></li>
          {% endwith %}
          <li><a href="{% url 'auth0:logout' %}">Sign out</a></li>
        {% endif %}

      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="{% block container_class %}container{% endblock %}" role="main">

  {% block content %}
  {% endblock %}
</div>


{% block script_prejquery %}
{% endblock %}

<!-- Latest Jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<script>
  $(document).ready(function () {
    $('input').addClass('form-control')
  })
</script>

<script type="application/javascript" src="{% static 'js/ajax_workaround.js' %}" ></script>
{% block script_postjquery %}
{% endblock %}
</body>
</html>