
{% csrf_token %}
{% if form.errors %}{{ form.errors }}{% endif %} {% for field in form.visible_fields %}
  <div class="col-md-6 col-md-offset-3 form-group">
    <div class="col-md-4">{{ field.label_tag }}</div>
    <div class="col-md-8">{{ field }}</div>
  </div>
{% endfor %} {% for hidden in form.hidden_fields %} {{ hidden }} {% endfor %}
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10 text-center">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</div>