{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            {% if form.errors %}
                <div class="alert alert-danger text-center" role="alert">Please rectify the below Errors</div>
            {% endif %}

            <form class="form-horizontal" action="{% url 'auth0:login' %}" method="post">
                {% csrf_token %}

              <div class="form-group">
                <label for="{{ form.username.id_for_label }}" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="username" name="{{ form.username.html_name }}" placeholder="Email">
                </div>
              </div>
              <div class="form-group">
                <label for="{{ form.password.id_for_label }}" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="password" name="{{ form.password.html_name }}" placeholder="Password">
                    {% if next_url %}<input type="hidden" name="next_url" value="{{ next_url }}">{% endif %}
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default">Sign in</button>
                </div>
              </div>
            </form>
        </div>
    </div>
{% endblock content %}