{% extends 'base.html' %}

{% block title %}Login without forms{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      {% if form.errors %}
        <div class="alert alert-danger text-center" role="alert">{{ form.errors }}</div>
      {% endif %}

      <form class="form-horizontal" action="{% url 'quiz:register-teacher' %}" method="post">
        {% csrf_token %}

        <div class="form-group">
          <label for="{{ form.first_name.id_for_label }}" class="col-sm-2 control-label">First Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="first_name" name="{{ form.first_name.html_name }}"
                   placeholder="First Name">
          </div>
        </div>
        <div class="form-group">
          <label for="{{ form.middle_name.id_for_label }}" class="col-sm-2 control-label">Middle Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="middle_name" name="{{ form.middle_name.html_name }}"
                   placeholder="Middle Name">
          </div>
        </div>
        <div class="form-group">
          <label for="{{ form.last_name.id_for_label }}" class="col-sm-2 control-label">Last Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="last_name" name="{{ form.last_name.html_name }}"
                   placeholder="Last Name">
          </div>
        </div>
        <div class="form-group">
          <label for="{{ form.username.id_for_label }}" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="username" name="{{ form.username.html_name }}" placeholder="Email">
          </div>
        </div>
        <div class="form-group">
          <label for="{{ form.password1.id_for_label }}" class="col-sm-2 control-label">Password</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="password1" name="{{ form.password1.html_name }}"
                   placeholder="Password">
          </div>
        </div>
        <div class="form-group">
          <label for="{{ form.password2.id_for_label }}" class="col-sm-2 control-label">Confirm Password</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="password2" name="{{ form.password2.html_name }}"
                   placeholder="Confirm Password">
          </div>
        </div>


        <div class="form-group">
          <label for="{{ form.school.id_for_label }}" class="col-sm-2 control-label">School</label>
          <div class="col-sm-10">
            <select class="form-control" id="school" name="{{ form.school.html_name }}">
              {% for school in schools %}
                <option value="{{ school.id }}">{{ school.name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="{{ form.standard.id_for_label }}" class="col-sm-2 control-label">Standard</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" id="standard" name="{{ form.standard.html_name }}" placeholder="Standard">
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Sign up</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}